.configBackground{
    background: #fcfcfc;
}

#resetButton{
    position: absolute;
    z-index: 1000;
    left: 50%;
    top: 76%;
    font-size: 3rem;
    font-weight: 200;
    line-height: 1.5;
}
.testborder {
    margin:0px;
	padding:0px;
    border: #cdcdcd medium solid;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.infobox{
	padding-top:1px;
}
.nopadding{
	padding:0px;
}
.nomargin{
	margin:0px;
}
.bottom{
	position:absolute; bottom:0;
}
.current{
	background-color:gray;
}
.summaryBox {
    border: 1px solid #ccc;
    box-shadow: 5px 5px 5px -5px #333;
    position: fixed;
    width: 12.5%;
    display: block;
}
.btn-arrow-right{
    -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    height: 45px;
    width: 25%;
    padding: 0px;
    margin-left: -4.5%;
    margin-right: -4.5%;
}

.btn-arrow-start{
    -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0% 0%);
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0% 0%);
    height: 45px;
    width: 25%;
    padding: 0px;
    margin: 0px;
    margin-right: -4.5%;
}

.btn-arrow-end{
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0% 100%, 25% 50%, 0% 0%);
    clip-path: polygon(100% 0, 100% 100%, 0% 100%, 25% 50%, 0% 0%);
    height: 45px;
    width: 25%;
    padding: 0px;
    margin: 0px;
    margin-left: -4.5%;
}

.centerXY{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.centerY{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.centerX{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

h4.panel-title a.collapsed .fa-caret-down {
        color: #ada9a9 !important;
        transform: rotate(0deg);
}
h4.panel-title a .fa-caret-down {
        color: #515e64 !important;
        transform: rotate(180deg);
}

.infoIcon{
    position: relative;
    float: right;
    margin-right: 5px;
}

.itemName{
    text-align: center;
    font-weight: bold;
    margin: 0px;
    margin-top: 3px !important;
    padding: 0px;
}

.itemImg{
    width: 60px;
    height: 60px;
    position: relative;
}

.item{
    padding-top: 25px;
}

.colorItem{
    padding-top: 10px;
}

.colorName{
    text-align: center;
    font-weight: bold;
    margin: 0px;
    padding-top: 2px !important;
    padding-bottom: 5px !important;
    padding: 0px;
}

#priceBox{
    z-index: 10; 
    position: absolute; 
    bottom: 45px; 
    right: 0px;

    padding-top: 5px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    
    box-shadow: -2px -2px 12px 1px #222;
    -moz-box-shadow: -2px -2px 12px 1px #222;
    -webkit-box-shadow: -2px -2px 12px 1px #222;

    border-radius: 10px 0px 0px 0px;
    -moz-border-radius: 10px 0px 0px 0px;
    -webkit-border-radius: 10px 0px 0px 0px;

    /* background: white;*/
    
    margin:0px auto;
    border-left:2px solid #fff;
    border-right:2px solid #fff;
}

.text-center{
    text-align: center;
}

.highlight{
    background-color: gray;
    border-radius: 10px;
}

.colorPick{
  width: 35px;
  height: 35px;
  border: 1px solid rgba(0, 0, 0, .2);
}

.blue {
  background: #13b4ff;
}

.purple {
  background: black;
}

.red {
  background: #ae163e;
}

.orange{
  background: #e5841d;
}

.gray{
  background: #ccc9c5;
}

.teal{
  background: white;
}

.pink{
  background: black;
}

.activeBar{
    background: #666666;
}
.visitedBar{
    background: #a0a0a0;
}
.leftBorder{
    border-left: 5px solid;
    border-color: #555759;
}
.groupHead{
    padding: 0px 0px 0px 10px;
    margin: 0px;
}
#cameraButtons {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
}
#cameraButtons .button  {
    border-radius: 5px;
}
#cameraButtons .buttoninactive  {
    border-radius: 5px;
}
#backgroundButton{
    position: absolute;
    top: 0;
    right: 0;
    text-align: left;
    transition: width 0.5s  ease-in-out;
    -webkit-transition: width 0.5s ease-in-out;
}
#backgroundButton.inactiveState {
    width: 7%;
}
#backgroundButton.activeState {
    width: 22%;
    background: rgba(0, 0, 0, 0.7);
}
#backgroundButton .items{
    min-width: 100px;
    cursor: pointer;
}
#backgroundButton .items.inactiveState{
    display: none;
}
#backgroundButton .items.activeState{
    display: block;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: rgba(255,255,255,0.7);

}
#bridgeBackground{
    background-image: url("../textures/itembackgrounds/backgroundone.jpg");
    background-repeat: no-repeat, repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100px;
    margin: 5px;
}
#cloudBackground{
    background-image: url("../textures/itembackgrounds/backgroundthree.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100px;
    margin: 5px;
}
#nightBackground{
    background-image: url("../textures/itembackgrounds/backgroundtwo.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100px;
    margin: 5px;
}
#backgroundButton .headerItem {
    padding-right: 10px;
    display: inline-block;
    position: relative;
}
#backgroundButton .headerItem.inactiveState {
    padding-top: 5px;
}
#backgroundButton .headerItem.activeState {
    padding-top: 5px;
    width: 100%;
}
#backgroundButton .backgroundPicture{
    display: inline-block;
    padding-left: 5px;
    padding-bottom: 5px;
}
#backgroundButton .backgroundPicture.inactiveState{
    color:black;
}
#backgroundButton .backgroundPicture.activeState{
    color:white;
}
#backgroundButton .closeBackground {
    display: inline-block;
    float: right;
    color:white;
}
#backgroundButton .backgroundText{
    display: inline-block;
    font-weight: 300;
    font-size: 18px;
    color:white;
    margin-left: 5px;
}
#cameraButtons #fronttext{
    top: 20px;
    z-index: 2000;
}
#cameraText{
    position: absolute;
    top: 20px;
    width: 100%;
    text-align: center;
    display: inline-block;
}
#cameraButtons .button{
    min-width: 100px;
    min-height: 5px;
    background: black;
    opacity: 0.5;
    display: inline-block;
}
#cameraButtons .text{
    font-weight: 700;
    margin-top: -5px;
    opacity: 0.5;
}
#cameraButtons .textinactive{
    font-weight: 700;
    margin-top: -5px;
    opacity: 0;
}
#cameraButtons .infocontainer:hover .textinactive{
    font-weight: 700;
    margin-top: -5px;
    opacity: 0.5;
}
#cameraButtons .infocontainer {
    min-width: 100px;
    min-height: 10px;
    display: inline-block;
    cursor: pointer;
}
#cameraButtons .buttoninactive{
    min-width: 100px;
    min-height: 5px;
    background: black;
    opacity: 0.2;
    display: inline-block;
}
header{
    width: 100%;
    padding: 60px 0;
    background: #fff;
    border-bottom: 1px solid #e1e1e1;

    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out ;
    z-index: 9999;
    top: 0;
    position: fixed;
}
.shrink{
    padding: 20px 0
}

ul{
    list-style: none;
}
ul>li:nth-child(odd){
    background:#c1c1c1; 
}
.choicesTable td{
    padding: 0 0 0 20px;
}
.choicesTable th{
    padding-left: 20px;
}
.categoryText{
    font-family: Tahoma;
    font-weight: 550;
    font-size: 13px;
}
.wrapper {
    position: fixed;
    left: 50%;
    top: 0%;
    transform: translateX(-50%);
    z-index: 110;
}
.spacer
{
    width: 100%;
    height: 830px;
}
