Visc.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.CDPlayer.jt.json
.cover.jt.json
.coverback.jt.json
.coverbacklowres.jt.json
.coverlowestres.jt.json
.coverlowres.jt.json
.coverremovallowres.jt.json
